[submodule "private"]
	path = private
	url = git@github.com:tng-coop/wp-yasuaki-private.git
	branch = main
	update = rebase
[submodule "bible"]
	path = bible
	url = git@github.com:tng-coop/bible.git
	branch = main
