@inherits LayoutComponentBase

<div class="with-splitter">
    <RadzenSplitter>
        <RadzenSplitterPane Size="250px" Min="20px" Max="250px">
            <div class="sidebar">
                <NavMenu />
            </div>
        </RadzenSplitterPane>

        <RadzenSplitterPane>
            <div class="page">
                <main>
                    <article class="content">
                        @Body
                    </article>
                </main>
            </div>
        </RadzenSplitterPane>
    </RadzenSplitter>
</div>
