@page "/edit"
@page "/edit/{Id:int}"
@inject BlazorWP.Data.AppFlags Flags
@using TinyMCE.Blazor
@inject IJSRuntime JS



<div class="split vertical" style="height:100vh">
    <div class="pane">
        <EditNew Id="Id" OnNewPage="NewPageAsync" />
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" @bind="Title" />
        </div>
    </div>
    <div class="pane">
        <div class="mb-3">
            <label class="form-label">Content</label>
            <Editor Id="mainEditor" ScriptSrc="libman/tinymce/tinymce.min.js" LicenseKey="gpl"
                JsConfSrc="myTinyMceConfig" @bind-Value="Content" />
        </div>

        <EditSave Saving="_saving" Status="_status" OnSave="SaveAsync" />
    </div>
</div>