/* container must have a size */
.split {
  display: flex;
  width: 100%;
  height: 100%;       /* or 100vh */
}

/* horizontal (left/right) */
.split.horizontal { flex-direction: row; }

/* vertical (top/bottom) */
.split.vertical { flex-direction: column; }

/* panes */
.pane {
  overflow: auto;   /* no flex declaration */
}
/* gutters injected by Split.js */
::deep .gutter {
  background: gray;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* make it look/feel draggable */
::deep .gutter.gutter-horizontal { cursor: col-resize; }
::deep .gutter.gutter-vertical   { cursor: row-resize; }
